/*Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body and Main Styling */

main {
    margin-top: 50px;
    background: linear-gradient(45deg, #1a1054, #255ff1);
    padding: 40px 20px;
    min-height: 100vh;
}

/* Navbar Styling */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(90deg, #224aa8, #b56fdc);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo */

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* Nav Links */

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Hover Effect */

.nav-links li a:hover{
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .nav-links {
        display: none; /* hide links by default */
        flex-direction: column;
        gap: 10px;
        position: absolute; /* dropdown */
        top: 60px; /* below navbar */
        left: 0;
        width: 100%;
        background: linear-gradient(90deg, #224aa8, #b56fdc);
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav-links li a {
        display: block;
        padding: 12px;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .logo {
        font-size: 20px;
    }
    .nav-links li a {
        font-size: 14px;
        padding: 6px 10px;
    }
}